<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getName()}"></title>
</head>
<body>

<p th:text="'Имя = ' + ${user.getName()}"></p>
<p th:text="'Фамилия = ' + ${user.getLastName()}"></p>
<p th:text="'Возраст = ' + ${user.getAge()}"></p>
<p th:text="'ID = ' + ${user.getId()}"></p>
<br/>
<hr/>

<form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить пользователя"/>
</form>

<form th:method="GET" th:action="@{/users}">
    <input type="submit" value="Список пользователей"/>
</form>

</body>
</html>